[Unit]
Description=Tomcat - instance %i
After=syslog.target network.target

[Service]
Type=forking

User=tomcat
Group=tomcat

WorkingDirectory=/opt/tomcat{{ tomcat_version[0] }}

Environment="JAVA_HOME={{ JAVA_HOME }}"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"

Environment="CATALINA_BASE=/opt/tomcat{{ tomcat_version[0] }}"
Environment="CATALINA_HOME=/opt/tomcat{{ tomcat_version[0] }}"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"

ExecStart=/opt/tomcat{{ tomcat_version[0] }}/bin/startup.sh
ExecStop=/opt/tomcat{{ tomcat_version[0] }}/bin/shutdown.sh

#RestartSec=10
#Restart=always

[Install]
WantedBy=multi-user.target
